@font-face {
    font-family: 'Paulistana Maraba Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Paulistana Maraba Regular'), url('PaulistanaMaraba-Regular.woff') format('woff');
    }
h1 {
    font-family: "Paulistana Maraba Regular";
    font-weight: 200;
    color: #0ccac4;
}  